body{
    background-color: rgb(46, 4, 41);
    color:rgb(154, 154, 225)
}
#p1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dashed;
    border-width: 4px;
    border-color: #59ff5f;
    border-radius: 15px;
}
/*The reason why multiple fonts are present in font family is for fallbacks, also comments are different!*/
#p2{
    color: #59ff5f;
    font-family: papyrus, 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
}
/*Google fonts is free tool to get more fonts! Just link in the head element of the HTML file, or you can do a download if necessary*/
#p3{
    color: rgb(186, 155, 155);
    font-family: 'Silkscreen', sans-serif;
}
#p4{
    color: orange;
    background-color: white;
}
.good{
    font-size: xx-large;
}
.evil{
    font-variant: unset;
}